.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  padding: 11px 20px;
}
.theme-primary {
  color: var(--primary-text);;
  background-color: var(--primary-container);
}
.theme-secondary {
  color: var(--secondary-text);;
  background-color: var(--secondary-container);
}